body {
    font-family: 'JetBrains Mono';
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0; 
}

h3 {
    margin: 0;
}

.q1-list > li {
    list-style: decimal;
}

.stats-grand-prix {
    font-weight: 500;
}

.stats-grand-chelems > li {
    list-style: decimal;
}

.stats-grand-chelems > li {
    list-style: circle;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
}

.rounds-header {
    text-align: center;
}

.rounds-list {
    text-align: center;
    list-style: none;
}