body {
    font-family: "JetBrains Mono";
}

a {
    color: black;
}

p {
    margin: 0;
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

.q1-list > li {
    list-style: decimal;
}

.stats-grand-prix {
    font-weight: 500;
}

.stats-grand-chelems > li {
    list-style: decimal;
}

.stats-grand-chelems > li {
    list-style: circle;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    margin: 0.8em;
}

.content {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.rounds-sidebar-elements > li{
    margin-bottom: 0.7em;
}
.main-info {
    margin: 2em 1.5em;
}

.rounds-header {
    display: flex;
    justify-content: center;
}

.rounds-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    list-style: none;
}

.rounds-list > li {
    margin-bottom: 0.8em;
}

.rounds-list > a {
    text-decoration: underline;
}

table {
    margin: 0 auto;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;    
}

th {
    width: 200px;
}

td {
    text-align: center;
    width: 50px;
}

.legend {
    text-align: center;
}

nav > a{
    text-decoration: underline;
}

.ul-stats {
    margin: 0 auto;
}

.previous-round {
    display: inline;
    float: left;
}

.next-round {
    display: inline;
    float: right;
}

.round-header {
    vertical-align: middle;
    margin: 0 1.5em;
}

.circuit-map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}